
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>Bootstrap Chat Box Example</title>
    <!-- BOOTSTRAP CORE STYLE CSS -->
    <script type="text/javascript">
//<![CDATA[
//try{if (!window.CloudFlare) {var CloudFlare=[{verbose:0,p:0,byc:0,owlid:"cf",bag2:1,mirage2:0,oracle:0,paths:{cloudflare:"/cdn-cgi/nexp/dok3v=1613a3a185/"},atok:"c3b6ee31e5b517cdaec38a2b2a58e085",petok:"77bb257c7b402f6bfc5b39fbf1c4da748aa052e4-1454067659-1800",zone:"designbootstrap.com",rocket:"a",apps:{},sha2test:0}];document.write('<script type="text/javascript" src="//ajax.cloudflare.com/cdn-cgi/nexp/dok3v=38857570ac/cloudflare.min.js"><'+'\/script>');}}catch(e){};
//]]>
    </script>
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FONT AWESOME  CSS -->
    <link href="assets/css/font-awesome.css" rel="stylesheet" />
    <!-- CUSTOM STYLE CSS -->
    <link href="assets/css/style.css" rel="stylesheet" />

    <script data-rocketsrc="http://www.designbootstrap.com/track/ga.js" type="text/rocketscript"></script>

</head>
<body>


    <div class="container">
        <div class="row pad-top pad-bottom">


            <div class=" col-lg-6 col-md-6 col-sm-6">
                <div class="chat-box-div">
                    <div class="chat-box-head">
                        TRIP CHAT
                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <span class="fa fa-cogs"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#"><span class="fa fa-map-marker"></span>&nbsp;Invisible</a></li>
                                <li><a href="#"><span class="fa fa-comments-o"></span>&nbsp;Online</a></li>
                                <li><a href="#"><span class="fa fa-lock"></span>&nbsp;Busy</a></li>
                                <li class="divider"></li>
                                <li><a href="#"><span class="fa fa-circle-o-notch"></span>&nbsp;Logout</a></li>
                            </ul>
                        </div>
                    </div>
                    <div id="chat-box-main-div" class="panel-body chat-box-main">
                        <div class="chat-box-left">
                            We are near the lake.
                        </div>
                        <div class="chat-box-name-left">
                            Abhishek
                        </div>
                        <hr class="hr-clas" />
                        <div class="chat-box-right">
                            Coming.
                        </div>
                        <div class="chat-box-name-right">
                            Palash
                        </div>
                        <hr class="hr-clas" />


                    </div>
                    <div class="chat-box-footer">
                        <div class="input-group">
                            <input id="text-input" type="text" class="form-control" placeholder="Enter Text Here...">
                            <span class="input-group-btn">
                                <button class="btn btn-info" type="button" onclick="Message()">SEND</button>
                            </span>
                        </div>
                    </div>
                </div>


                <!-- GOOGLE ADD SECTION END -->
                <!-- USING SCRIPTS BELOW TO REDUCE THE LOAD TIME -->
                <!-- CORE JQUERY SCRIPTS FILE -->
                <script data-rocketsrc="assets/js/jquery-1.11.1.js" type="text/rocketscript"></script>
                <!-- CORE BOOTSTRAP SCRIPTS  FILE -->
                <script data-rocketsrc="assets/js/bootstrap.js" type="text/rocketscript"></script>
                <script src="assets/data/recommendation.json" type="text/javascript"></script>
                <script src="assets/js/autoreply.js" type="text/javascript"></script>
</body>

</html>
